@import url('https://fonts.cdnfonts.com/css/google-sans');
*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}
#welcome{
    background-image: url('/img/body-bg.png') ;
    padding-top: 150px;
}
#welcome h1{
    color: #fff;
}
#welcome span{
    color: orange;
}
#welcome h2{
    color: #fff;
}
#welcome p{
    color: #fff;
}
#welcome button{
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 0px;
}
#welcome img{
    width: 100%;
}
#contact{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #150734;
    text-align: center;
}
#contact h1{
    color: orange;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}

